src/PowerPagesJumpstartAutomations/src/Workflows/HandlePowerPageOnboarding-3FA25A4D-9AD4-F011-8543-0022480B8CFA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pa911_sharedcommondataserviceforapps_e7cd2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pa911_PPJOutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "PPJ - User Management App Secret (pa911_PPJUserManagementAppSecret)": {
          "defaultValue": "~9B8Q~47uQiTZJz_ihZxi_CKcPpltvJK4MA_-cVy",
          "type": "String",
          "metadata": {
            "schemaName": "pa911_PPJUserManagementAppSecret"
          }
        },
        "PPJ - User Management App Id (pa911_PPJUserManagementAppId)": {
          "defaultValue": "605c5d3f-95a9-4b26-a08e-4bbce3be8ccf",
          "type": "String",
          "metadata": {
            "schemaName": "pa911_PPJUserManagementAppId"
          }
        },
        "PPJ - User Management App Tenant Id (pa911_PPJUserManagementAppTenantId)": {
          "defaultValue": "0f4c92b1-11f2-4040-9a14-4de54c04be80",
          "type": "String",
          "metadata": {
            "schemaName": "pa911_PPJUserManagementAppTenantId"
          }
        },
        "PPJ - Power Page Url (pa911_PPJPowerPageUrl)": {
          "defaultValue": "https://pawsfirst-pa911.powerappsportals.com",
          "type": "String",
          "metadata": {
            "schemaName": "pa911_PPJPowerPageUrl"
          }
        },
        "PPJ - Power Page Identity Provider (pa911_PPJPowerPageIdentityProvider)": {
          "defaultValue": "https://sts.windows.net",
          "type": "String",
          "metadata": {
            "schemaName": "pa911_PPJPowerPageIdentityProvider",
            "description": "Default value for Entra Id authentication"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b6982924-f395-4182-be74-4fb2b34f53a8"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Contact",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Contact_Record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ec231d60-5817-4141-a73a-763e724d4a4c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerBody()['text']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Initialize_Entra_Object_Id": {
          "runAfter": {
            "Get_Contact_Record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d903c3c1-fd6a-4e8e-b7f5-f52a6592a249"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Entra Object Id",
                "type": "string",
                "value": "@outputs('Get_Contact_Record')?['body/adx_identity_username']"
              }
            ]
          },
          "description": "This initially is set from the User Name field on the contact record. If this exists this means the user has been onboarded before. New users should initial be blank."
        },
        "Contact_does_not_have_User_Name": {
          "actions": {
            "Create_User_Invitation_in_Entra": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b610efb8-1b8a-453c-9d7b-5a65b678b523"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://graph.microsoft.com/v1.0/invitations",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "invitedUserEmailAddress": "@{outputs('Get_Contact_Record')?['body/emailaddress1']}",
                  "inviteRedirectUrl": "@{parameters('PPJ - Power Page Url (pa911_PPJPowerPageUrl)')}/signin?returnUrl=/my-apps",
                  "invitedUserDisplayName": "@{outputs('Get_Contact_Record')?['body/fullname']}"
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "authority": "https://login.microsoftonline.com/",
                  "tenant": "@{parameters('PPJ - User Management App Tenant Id (pa911_PPJUserManagementAppTenantId)')}",
                  "audience": "https://graph.microsoft.com",
                  "clientId": "@{parameters('PPJ - User Management App Id (pa911_PPJUserManagementAppId)')}",
                  "secret": "@{parameters('PPJ - User Management App Secret (pa911_PPJUserManagementAppSecret)')}"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Set_Entra_Object_Id_to_new_User": {
              "runAfter": {
                "Create_User_Invitation_in_Entra": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c0f5dc99-3e14-4c06-bd43-2b6db9aa805a"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Entra Object Id",
                "value": "@body('Create_User_Invitation_in_Entra')?['invitedUser']['id']"
              }
            },
            "Terminate": {
              "runAfter": {
                "Create_User_Invitation_in_Entra": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "e705311e-c29b-4211-82f5-826b49070a35"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "@outputs('Create_User_Invitation_in_Entra')?['statusCode']",
                  "message": "@body('Create_User_Invitation_in_Entra')"
                }
              }
            },
            "Set_Invite_Redemption_Url": {
              "runAfter": {
                "Set_Entra_Object_Id_to_new_User": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4f6e97b1-e88f-431b-82f7-f78b68627529"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Invite Url",
                "value": "@body('Create_User_Invitation_in_Entra')?['inviteRedeemUrl']"
              }
            }
          },
          "runAfter": {
            "Initialize_Invite_Redemption_Url": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Entra_Object_Id_to_Existing": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "72b72038-f0a2-4610-8b10-50d9f8ecb528"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "Entra Object Id",
                  "value": "@outputs('Get_Contact_Record')?['body/adx_identity_username']"
                }
              },
              "Get_Entra_Account": {
                "runAfter": {
                  "Set_Entra_Object_Id_to_Existing": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "94017fc1-5068-46b6-97bb-972db964a74a"
                },
                "type": "Http",
                "inputs": {
                  "method": "GET",
                  "uri": "https://graph.microsoft.com/v1.0/users/@{variables('Entra Object Id')}?$select=id,displayName,accountEnabled",
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "authentication": {
                    "type": "ActiveDirectoryOAuth",
                    "authority": "https://login.microsoftonline.com/",
                    "tenant": "@{parameters('PPJ - User Management App Tenant Id (pa911_PPJUserManagementAppTenantId)')}",
                    "audience": "https://graph.microsoft.com",
                    "clientId": "@{parameters('PPJ - User Management App Id (pa911_PPJUserManagementAppId)')}",
                    "secret": "@{parameters('PPJ - User Management App Secret (pa911_PPJUserManagementAppSecret)')}"
                  }
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                }
              },
              "Account_is_Enabled": {
                "actions": {
                  "Respond_to_Parent_Flow_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "93287bfb-5fc7-475f-a176-5c7b2d349b7c"
                    },
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "statusCode": 200,
                      "body": {},
                      "schema": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  },
                  "End_Flow_-_Entra_User_Exists_and_is_Enabled": {
                    "runAfter": {
                      "Respond_to_Parent_Flow_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "434ac624-ffe0-49f8-b13a-41bae8f31100"
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Succeeded"
                    }
                  }
                },
                "runAfter": {
                  "Get_Entra_Account": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Enable_Entra_Account": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "2d3da46a-9322-4b76-a321-fa94517c0a07"
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "PATCH",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{variables('Entra Object Id')}",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "accountEnabled": true
                        },
                        "authentication": {
                          "type": "ActiveDirectoryOAuth",
                          "authority": "https://login.microsoftonline.com/",
                          "tenant": "@{parameters('PPJ - User Management App Tenant Id (pa911_PPJUserManagementAppTenantId)')}",
                          "audience": "https://graph.microsoft.com",
                          "clientId": "@{parameters('PPJ - User Management App Id (pa911_PPJUserManagementAppId)')}",
                          "secret": "@{parameters('PPJ - User Management App Secret (pa911_PPJUserManagementAppSecret)')}"
                        }
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "",
                        ""
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "4002f03d-1e2d-4852-85ac-34c7b1d51956"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@empty(variables('Entra Object Id'))",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "31fe0dce-a38a-426b-9770-2cf02bde7725"
          },
          "type": "If"
        },
        "Initialize_Invite_Redemption_Url": {
          "runAfter": {
            "Initialize_Entra_Object_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5659c881-cf1a-45b9-aced-a55d5e65b1f6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Invite Url",
                "type": "string"
              }
            ]
          }
        },
        "Update_Contact_with_Entra_User_Details": {
          "runAfter": {
            "Respond_to_Parent_Flow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2a35f026-4abb-4a82-a54d-d5dafb7ba149"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@outputs('Get_Contact_Record')?['body/contactid']",
              "item/adx_identity_emailaddress1confirmed": true,
              "item/adx_identity_lockoutenabled": true,
              "item/adx_identity_logonenabled": true,
              "item/adx_identity_securitystamp": "@guid()",
              "item/adx_identity_username": "@variables('Entra Object Id')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          },
          "description": "We also set fields required for Power Pages login handshake to work."
        },
        "Add_External_Identity_for_Power_Pages_Authentication": {
          "runAfter": {
            "Update_Contact_with_Entra_User_Details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d7b33fc-2e89-4445-af38-b81f2d4ccdef"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "adx_externalidentities",
              "item/adx_contactid@odata.bind": "contacts(@{outputs('Update_Contact_with_Entra_User_Details')?['body/contactid']})",
              "item/adx_identityprovidername": "@{parameters('PPJ - Power Page Identity Provider (pa911_PPJPowerPageIdentityProvider)')}/@{parameters('PPJ - User Management App Tenant Id (pa911_PPJUserManagementAppTenantId)')}/",
              "item/adx_username": "@variables('Entra Object Id')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Query_Authenticated_Permissions": {
          "runAfter": {
            "Add_External_Identity_for_Power_Pages_Authentication": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "27f0715d-529e-41f7-826b-e6d0b9114021"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "powerpagecomponents",
              "fetchXml": "<fetch>\n  <entity name=\"powerpagecomponent\">\n    <filter>\n      <condition attribute=\"powerpagecomponenttype\" operator=\"eq\" value=\"11\" />\n      <condition attribute=\"name\" operator=\"eq\" value=\"Authenticated Users\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_Webrole_by_ID": {
          "runAfter": {
            "Query_Authenticated_Permissions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2c17084-0194-43fb-b347-08112a8ed4ad"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mspp_webroles",
              "recordId": "@first(outputs('Query_Authenticated_Permissions')?['body/value'])?['powerpagecomponentid']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Relate_rows_-_Contact_Web_Role": {
          "runAfter": {
            "Get_Webrole_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "65486cc7-247c-49a5-91fc-6be2029b19f0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "AssociateEntities",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@outputs('Get_Contact_Record')?['body/contactid']",
              "associationEntityRelationship": "powerpagecomponent_mspp_webrole_contact",
              "item/@odata.id": "@outputs('Get_Webrole_by_ID')?['body/@odata.id']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Send_Invitation_Email": {
          "runAfter": {
            "Relate_rows_-_Contact_Web_Role": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "45e3ffc1-afe8-4e12-9eaa-15f97dc38f69"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_Contact_Record')?['body/emailaddress1']",
              "emailMessage/Subject": "You're Invited! 🎉",
              "emailMessage/Body": "<html>\n  <body\n    style=\"\n      margin: 0;\n      padding: 0;\n      background-color: #f8f8f8;\n      font-family: Arial, sans-serif;\n      color: #191817;\n    \"\n  >\n    <table\n      width=\"100%\"\n      cellpadding=\"0\"\n      cellspacing=\"0\"\n      border=\"0\"\n      style=\"background-color: #f8f8f8; padding: 20px 0;\"\n    >\n      <tr>\n        <td align=\"center\">\n          <table\n            width=\"600\"\n            cellpadding=\"0\"\n            cellspacing=\"0\"\n            border=\"0\"\n            style=\"\n              background-color: #ffffff;\n              border-radius: 6px;\n              overflow: hidden;\n              border: 1px solid #f3f2f1;\n            \"\n          >\n            <!-- Header -->\n            <tr>\n              <td\n                style=\"\n                  background-color: #2e7d32;\n                  padding: 16px 24px;\n                  color: #ffffff;\n                  font-size: 20px;\n                  font-weight: bold;\n                \"\n              >\n                PawsFirst Pet Portal\n              </td>\n            </tr>\n\n            <!-- Body -->\n            <tr>\n              <td style=\"padding: 24px;\">\n                <p style=\"margin: 0 0 16px 0;\">\n                  Hi @{outputs('Get_Contact_Record')?['body/firstname']},\n                </p>\n\n                <p style=\"margin: 0 0 16px 0;\">\n                  Welcome to the <strong>PawsFirst Pet Portal</strong>!\n                </p>\n\n                <p style=\"margin: 0 0 16px 0;\">\n                  You’re all set to manage your pet’s care online. With your new\n                  account, you can:\n                </p>\n\n                <ul style=\"margin: 0 0 16px 20px; padding: 0; color: #5c5a58;\">\n                  <li style=\"margin-bottom: 6px;\">\n                    View upcoming and past appointments\n                  </li>\n                  <li style=\"margin-bottom: 6px;\">\n                    Request new appointments\n                  </li>\n                  <li style=\"margin-bottom: 6px;\">\n                    Access vaccine records and visit summaries\n                  </li>\n                  <li style=\"margin-bottom: 6px;\">\n                    Update your contact and pet information\n                  </li>\n                </ul>\n\n                <p style=\"margin: 0 0 16px 0;\">\n                  To get started, click the button below to redeem your invite:\n                </p>\n\n                <!-- Button -->\n                <p style=\"margin: 0 0 24px 0;\" align=\"center\">\n                  <a\n                    href=\"@{variables('Invite Url')}\"\n                    style=\"\n                      display: inline-block;\n                      padding: 12px 24px;\n                      background-color: #1565c0;\n                      color: #ffffff;\n                      text-decoration: none;\n                      border-radius: 4px;\n                      font-size: 14px;\n                      font-weight: bold;\n                    \"\n                    target=\"_blank\"\n                  >\n                    Open My PawsFirst Portal\n                  </a>\n                </p>\n\n                <!-- Fallback link -->\n                <p\n                  style=\"\n                    margin: 0 0 16px 0;\n                    font-size: 12px;\n                    color: #5c5a58;\n                  \"\n                >\n                  If the button doesn’t work, copy and paste this link into your\n                  browser:\n                  <br />\n                  <span style=\"word-break: break-all;\">\n                    @{variables('Invite Url')}\n                  </span>\n                </p>\n\n                <p style=\"margin: 16px 0;\">\n                  If you ever need help with your account, contact us at\n                  <strong>[Clinic Email]</strong> or <strong>[Clinic Phone]</strong>.\n                </p>\n\n                <p style=\"margin: 16px 0 0 0;\">\n                  Thank you for trusting us with your pet's care. We’re honored\n                  to be part of your pet’s health journey.\n                </p>\n\n                <p style=\"margin: 16px 0 0 0;\">\n                  Warmly,<br />\n                  PawsFirst Staff\n                </p>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td\n                style=\"\n                  padding: 12px 24px 16px 24px;\n                  font-size: 11px;\n                  color: #5c5a58;\n                  background-color: #f3f2f1;\n                  text-align: center;\n                \"\n              >\n                This email was sent by PawsFirst Pet Portal. If you received\n                this in error, please contact the clinic.\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Respond_to_Parent_Flow": {
          "runAfter": {
            "Contact_does_not_have_User_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "93287bfb-5fc7-475f-a176-5c7b2d349b7c"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}